:root {
  --gold-color: #dbb000;
  --blue-color: #1924f7;
  --background-color: #ffffff;
  --text-color: #000000e0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}
h1 {
  font-size: 72px;
  color: var(--gold-color);
  font-weight: 900;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 48px;
}
h4 {
  font-size: 42px;
}
h5 {
  font-size: 34px;
}

p {
  font-size: 24px;
}
footer {
  background-color: rgb(85, 84, 84);
  width: 100%;
  height: 80px;
  display: block;
  align-content: center;
  justify-items: center;
  font-weight: 600;
}

.hero h1 {
  font-size: 64px;
  color: var(--gold-color);
  font-weight: 900;
  margin-bottom: 128px;
}

.hero h3 {
  font-size: 44px;
  margin: 24px 0;
}
section {
  padding: 20px;
  margin: 40px;
  border-radius: 10px;
  background-color: var(--background-color);
}

button {
  background-color: var(--blue-color);
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 20px 30px;
  margin: 48px 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.about {
  margin-top: 256px;
}
