header {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0% 18%;
}

body {
  font-family: "Poppins", sans-serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.name {
  font-size: 56px;
}

.nav ul {
  list-style: none;
  margin-top: 8px;
  display: flex;
  gap: 24px;
  font-size: 24px;
}

.nav a {
  text-decoration: none;
  color: #838383;
}

.nav a:hover {
  color: #000;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #458ff6;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  margin: 36px 0;
  color: #f6f6f6;
}
.icon p {
  font-size: 48px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5% 10%;
}

.hero--1 {
  display: block;
}

.hero--1 h1 {
  font-size: 48pt;
}
.hero--1 h5 {
  color: #838383;
  font-weight: 200;
  font-size: 36pt;
}
.hero--img {
  height: 693px;
  margin-right: 10%;
}

.btn-1 {
  font-weight: 600;
  color: #f6f6f6;
  background-color: #458ff6;
  border-style: none;
  border-radius: 40px;
  height: 80px;
  width: 270px;
}

.btn-1 a {
  font-size: 24px;
  text-decoration: none;
  color: #f6f6f6;
}

.services {
  display: block;
}

.services h2 {
  justify-self: center;
  margin: none;
  padding: none;
  font-size: 36px;
}

.services hr {
  justify-self: center;
  width: 56px;
  margin: none;
  padding: none;
}

.services p {
  color: #838383;
  justify-self: center;
  text-align: center;
  margin: none;
  margin-top: 66px;
  padding: none;
  font-size: 18px;
}

.services-ul li img {
  height: 90px;
  width: auto;
  align-self: flex-start;
  margin-bottom: 24px;
  margin-top: 14px;
}

.services-ul li div p {
  text-align: start;
  margin-top: 24px;
}

.services-ul li {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #f6f6f6;
  width: 350px;
  height: 354px;
  padding: 38px;
  border-radius: 12px;
}
.services-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin: 10% 10%;
}

.services-ul div {
  display: block;
}

.btn2 {
  height: 60px;
  width: 200px;
  border-radius: 55px;
  color: #458ff6;
  background-color: #ffffff;
  border: 2px solid #458ff6;
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.about-us {
  display: flex;
  gap: 137px;
  justify-items: space-between;
  align-items: center;
  margin: 5% 20%;
}

.about-us img {
  height: 477px;
  width: 650px;
}

.about-us hr {
  width: 56px;
  margin: 0;
  align-self: flex-start;
}

.about-us h2 {
  font-size: 36px;
  font-weight: 700;
}

.about-us p {
  color: #7d7987;
  font-size: 18px;
  font-weight: 300;
}

.btn3 {
  height: 60px;
  width: 200px;
  border-radius: 55px;
  color: #458ff6;
  background-color: #ffffff;
  border: 2px solid #458ff6;
  font-size: 18px;
  font-weight: 700;
}

.app-d {
  display: flex;
  gap: 137px;
  justify-items: space-between;
  align-items: center;
  margin: 5% 20%;
}

.app-d img {
  width: 665;
  height: 434;
}

.app-d p {
  color: #7d7987;
  font-size: 18px;
  font-weight: 300;
}

.app-d hr {
  width: 56px;
  margin: 0;
  align-self: flex-start;
}

.app-d h2 {
  font-size: 36px;
  font-weight: 700;
}

.btn4 {
  height: 60px;
  width: 200px;
  border-radius: 55px;
  color: #458ff6;
  background-color: #ffffff;
  border: 2px solid #458ff6;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
}
